<%- include("../partials/header") %>

<section id="show-page">
    <div>Airline: <%= flight.airline %></div>
    <div>Departing From: <%= flight.airport %> </div>
    <div></div>
    <div></div>
    <div></div>
</section>

<%- include("../partials/footer") %>